
    .container-project{
        padding-bottom: 100px;
        .text-heading{
            color: hsla(0,0%,100%,.07);;
            font-size: 90px;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: .7;
            position: absolute;
            text-transform: uppercase;
        }
        h1{
            font-size: 56px;
            font-weight: 900;
            text-transform: uppercase;
        }
        .nav-tab{
            li{
               
               a{
                background-color: var(--nav-color);
                border-radius: 10px;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 30px 15px;
                padding: 7.5px 11.25px;
                text-transform: uppercase;
                transition: all .3s ease;
               }
               a:hover{
                background-color: var(--decor-color);
               }
               .active{
                background-color: var(--decor-color);
                    
             
            }
        }
        }
        .list-project{
            min-height: 400px;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            max-width: 1200px;
            .row-content{
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                .cardProduct{
                    width: calc(33.33333% - 30px);

                }
            }
                
        }
    }
@media only screen and(max-width:1000px) {
    .container-project{
        padding-top: 30px;
        .text-heading{
            color: hsla(0,0%,100%,.07);;
            font-size: 90px;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: .7;
            position: absolute;
            text-transform: uppercase;
        }
        h1{
            font-size: 56px;
            font-weight: 900;
            text-transform: uppercase;
        }
        
        .list-project{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            max-width: 1200px;
            .row-content{
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                .cardProduct{
                    width: calc(50% - 26px);
                }
            }
                
        }
    }
}
@media only screen and(max-width:700px) {
    .container-project{
        padding-top: 30px;
        .text-heading{
            color: hsla(0,0%,100%,.07);;
            font-size: 46px;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: .7;
            position: absolute;
            text-transform: uppercase;
        }
        h1{
            font-size: 36px;
            font-weight: 900;
            text-transform: uppercase;
        }
       
        .list-project{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            max-width: 1200px;
            .row-content{
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                .cardProduct{
                    width: 100%;

                }
            }
                
        }
    }
}
@media only screen and(max-width:500px) {
    .container-project{
        padding-top: 30px;
        .text-heading{
            color: var(--heading-color);
            font-size: 46px;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: .7;
            position: absolute;
            text-transform: uppercase;
        }
        h1{
            font-size: 36px;
            font-weight: 900;
            text-transform: uppercase;
        }
        .nav-tab{
            padding: 10px;
            margin: 0 auto;
            li{
               
                border-radius: 10px;
                cursor: pointer;
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 10px 15px;
                padding:0.5px 60.25px;
                text-transform: uppercase;
                transition: all .3s ease;
            }
          
        }
      
    }
}