.content-contact{
  width: 100%;
   padding-bottom: 150px;
  .text-heading{
      color: var(--heading-color);
      font-size: 100px;
      font-weight: 800;
      letter-spacing: 10px;
      line-height: .7;
      position: absolute;
      text-transform: uppercase;
  }
  h1{
      font-size: 56px;
      font-weight: 900;
      text-transform: uppercase;
  }
  .text-intro{
      margin-top: 45px;
     

      h3{
          font-size: 26px;
          margin-bottom: 16px;
          text-transform: uppercase;
      }
      p{
          font-size: 15px;
          margin-bottom: 24px;
      }
  }
  .contact-item{
      margin-bottom: 20px;
      margin-left: 20px;
      .icon-item{
          color: var(--decor-color);
          font-size: 24px;
          font-weight: 700;
          padding-right: 14px;
      }
      .text-item{
         
          span{
              margin: 4px 0;
              opacity: .8;
              text-transform: uppercase;
          }
          h4{
              display: block;
              font-weight: 700;
              margin-top: 4px;
          }
      }
  }
  .container-form{
      .feed-form {
          margin-top: 36px;
          input,textarea {
              background-color: var(--nav-color);
              border: 1px solid var(--nav-color);
              border-radius: 24px;
              color: #fff;
          
              margin-bottom: 30px;
              outline: none;
              padding: 1rem 2rem;
              transition: all .3s ease;
            }
        }
        .feed-form input:hover {
          transform: scale(1.009);
          box-shadow: 0px 0px 3px 0px #212529;
          border: 1px solid var(--decor-color);
        }
        .feed-form input:focus {
          border: 1px solid var(--decor-color);
        }
        .feed-form textarea:hover {
          transform: scale(1.009);
          box-shadow: 0px 0px 3px 0px #212529;
          border: 1px solid var(--decor-color);
        }
        .feed-form textarea:focus {
          border: 1px solid var(--decor-color);
        }
        .button-send{
              font-family: inherit;
              font-size: 20px;
              background: var(--decor-color);
              color: white;
              padding: 0.7em 1em;
              padding-left: 0.9em;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              border-radius: 16px;
              overflow: hidden;
              transition: all 0.2s;
              span {
                  display: block;
                  margin-left: 0.3em;
                  transition: all 0.3s ease-in-out;
                }
                i {
                  display: block;
                  transform-origin: center center;
                  transition: transform 0.3s ease-in-out;
                }
        }
        .button-send:hover .svg-wrapper {
          animation: fly-1 0.6s ease-in-out infinite alternate;
        }
        .button-send:hover i {
          transform: translateX(1.2em) rotate(45deg) scale(1.1);
        }
        
        .button-send:hover span {
          transform: translateX(5em);
        }
        
        .button-send:active {
          transform: scale(0.95);
        }
        @keyframes fly-1 {
          from {
            transform: translateY(0.1em);
          }
        
          to {
            transform: translateY(-0.1em);
          }
        }
  }
}

@media only screen and (max-width:1000px) {
  .content-contact{
    
    
    .container-form{
     
      margin-bottom: 100px;
      padding:0;
       
    }}
}
@media only screen and (max-width:800px) {
  .content-contact{
    padding-top: 30px;
    .text-heading{
      color: var(--heading-color);
      font-size: 60px;
      font-weight: 800;
      letter-spacing: 10px;
      line-height: .7;
      position: absolute;
      text-transform: uppercase;
  }
  h1{
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
  }}}